.App {
    text-align: center;
    height: 23em;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}


/* .image-container {
    width: 1em;
    height: 37em;
    border-radius: 2em;
    border: 5px solid darkgreen;
    margin: 0.5em;
    margin-top: 10em;

} */

.cart {
    border-color: #d71010;
    height: 37em;
    width: 23em;
    /* border: 2px solid green; */
    /* background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190617/ourmid/pngtree-simple-and-small-fresh-children-s-clothing-store-home-background-image_125558.jpg"); */
}

/* .App {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/03/62/45/5857aad2f14bf81.jpg");
  } */

/* div {
    height: 40px;
    width: 40px;
  } */

.color {
    color: black;
    font-size: 20px;
}

.lightpink {
    /* border: 8px solid rgb(201, 97, 97); */
    width: 100px;
    height: 50px;
    background-color: #b35353;
}

.grey {
    width: 100px;
    height: 50px;
    background-color: #372f3ca2;
}

.black {
    width: 100px;
    height: 50px;
    background-color: #110f13;
}

.two {
    /* border: 8px solid rgb(17, 12, 12); */
    width: 100px;
    height: 50px;
    background: #0e0c0c;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* img {
    width: 800px;
    height: 600px;
  } */

/* i think .. this is the correct image size ... height and width */

/* @import "../../css-config/mixins.scss"; */
@import "./css-config/mixins.scss"



.single-product-main-content {
    margin: 20px 0;

    @include md {
        margin: 75px 0;
    }

    .layout {
        max-width: calc(100% - 20px);
        margin: 0 auto;

        @include md {
            max-width: 1200px;
        }

        .single-product-page {
            display: flex;
            flex-direction: column;

            @include md {
                flex-direction: row;
            }

            .left {
                width: 100%;
                background-color: rgba(15, 189, 41, 0.2);
                flex-shrink: 0;

                @include md {
                    width: 600px;
                    height: 600px;
                }

                img {
                    width: 100%;
                    display: flex;
                }

            }

            .right {
                display: block;
                flex-direction: column;
                padding-top: 20px;

                @include md {
                    padding: 0 35px;
                }

                .name {
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 20px;
                    background-color: red;

                    @include md {
                        font-size: 24px;
                        line-height: 32px;

                    }
                }

                .price {
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 20px;
                }

                .description {
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 20px;
                    color: #6b6b6b;

                    @include md {
                        font-size: 16px;
                        line-height: 24px;

                    }
                }

                .cart-buttons {
                    display: flex;

                    @include md {
                        margin-top: 30px;

                    }

                    .quantity-buttons {
                        width: fit-content;
                        display: flex;
                        border: 2px rgba(11, 79, 239, 0.2);
                        margin-right: 10px;
                        height: 50px;

                        span {
                            font-size: 18px;
                            width: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            color: #d71010;

                            &:nth-child(1) {
                                border-right: 2px solid rgb(101, 109, 92);
                            }

                            &:nth-child(3) {
                                border-left: 2px solid rgb(109, 92, 92);
                            }

                            &:nth-child(2) {
                                width: 60px;
                            }
                        }
                    }

                    .add-to-cart-button {
                        background-color: rgb(4, 128, 0);
                        color: white;
                        border: 0;
                        outline: 0;
                        height: 50px;
                        width: 180px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        font-size: 16px;
                        border-bottom: 3px solid red;
                        flex-grow: 1;

                        @include md {
                            flex-grow: unset;
                        }

                    }
                }

                .divider {
                    margin: 20px 0;
                    height: 1px;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.2);
                }

                .info-item {
                    .text-bold {
                        font-size: 18px;
                        font-weight: 500;
                        display: block;

                        &:nth-child(1) {
                            margin-bottom: 20px;
                        }

                        span {
                            font-size: 18px;
                            font-weight: 400;
                            cursor: pointer;
                            color: #6b6b6b
                        }

                        svg {
                            margin: 0 5px;
                        }
                    }
                }

            }
        }

    }



}